@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
  margin: 0px;
  padding: 0px
}

#tipOne {
  opacity: 0;
  background-color: white;
  height: 90px;
  transform: translate(0, -100%);
  padding-left: 30px;
  font-family: 'Kalam', cursive;
}

#tssong {
  position: relative;
  transform: translate(0, -300%);
}

#speaksong {
  position: relative;
  transform: translate(0, -300%);
}

#redsong {
  position: relative;
  transform: translate(0, -300%);
}

#lastsong {
  position: relative;
  transform: translate(0, -300%);
}

#tipTwo {
  opacity: 0;
  background-color: white;
  height: 90px;
  transform: translate(0, -100%);
  padding-left: 30px;
  font-family: 'Kalam', cursive;
}

#tipThr {
  opacity: 0;
  background-color: white;
  height: 90px;
  transform: translate(0, -100%);
  padding-left: 30px;
  font-family: 'Kalam', cursive;
}

#tipFou {
  opacity: 0;
  background-color: white;
  height: 90px;
  transform: translate(0, -100%);
  padding-left: 30px;
  font-family: 'Kalam', cursive;
}

#albOne {
  position: absolute;
  top: 10%;
  left: 20%;
}

#albTwo {
  position: absolute;
  top: 10%;
  left: 50%;
}

#albThr {
  position: absolute;
  top: 60%;
  left: 20%;
}

#albFou {
  position: absolute;
  top: 60%;
  left: 50%;
}

#picOne:hover {
  filter: blur(30px);
}

#picTwo:hover {
  filter: blur(30px);
}

#picThr:hover {
  filter: blur(30px);
}

#picFou:hover {
  filter: blur(30px);
}

body {
  background-image: url("http://static.tumblr.com/68da8de03c64c05398f8cf77a020d0ca/mrluide/c3vohmckp/tumblr_static_8bysejgm700s4kcwo88ck8s44.jpg");
}

footer {
  text-align: center;
  position: relative;
  top: 1100px;
}


}
